header {

	.background {
		background-position: 50% 50%;
	}

	h1 {
		@include position(absolute, 170px 0 0 50%);
		transform: translate3d(-105%,0,0);
		width: 35%;
		height: 140px;
		background-position: 100% 50%;
	}

}
