header {
	z-index: 2;
	opacity: 1;
	@include position(absolute, 0px auto auto 0px);
	width: 100%;
	height: 100%;
	background-image: url('../img/bg2.jpg');
	background-position: 20% 50%;
	background-size: cover;
	transition: opacity 500ms ease;

	.nav-tapped & {
		opacity: 0;
	}

	.header-locked & {
		z-index: 1;
	}

	h1 {
		@include position(absolute, 170px 18px 0 0);
		margin: 0;
		width: 244px;
		height: 52px;
		background-image: url('../img/logo.svg');
		background-position: 100% 0;
		background-repeat: no-repeat;
	}

	h2 {
		@include position(absolute, 230px 18px auto auto);
		margin: 0;
		width: 225px;
		font-size: 11.5px;
		font-weight: inherit;
		color: $text-secondary;
		white-space: nowrap;
	}

}
