header {

	.background {
		background-position: 50% 30%;
	}

	h1 {
		@include position(absolute, 30% 0 0 50%);
		transform: translate3d(-105%,0,0);
		width: 42.5%;
		min-width: 0;
		height: 68px;
		background-position: 100% 50%;
	}

}
