main {
  .background {
    background-position: 50% 30%;
    filter: blur(1.6rem);
  }

  .view {

    h3 {
      @include position(absolute, 0 0 0 50%);
      top: calc(30% + 2rem);
      width: 42.5%;
      overflow: hidden;
      transition: transform 500ms ease, width 500ms ease, top 500ms ease, left 500ms ease;
    }

    &.view-1 h3 {
      transform: translate3d(4%,0,0);
    }

    &.view-2 h3 {
      transform: translate3d(4%,4.6rem,0);
    }

    &.view-3 h3 {
      transform: translate3d(4%,9.2rem,0);
    }

    &.view-4 h3 {
      transform: translate3d(4%,13.8rem,0);
    }

    &.view-5 h3 {
      transform: translate3d(4%,18.4rem,0);
    }

    &.view-6 h3 {
      transform: translate3d(4%,23.0rem,0);
    }

    &.shown {

      &.locked {

        h3 {
          width: 100%;
          left: 0;
        }
      }
    }

    .owl-carousel {

      .slide {

        .album {
          width: 50vw;

          a {
            width: 20vw;
            height: 20vw;
            margin-right: 0.4vw;
            margin-bottom: 0.8vw;

            &:nth-of-type(even) {
              margin-left: 0.4vw;
            }
          }
        }
      }
    }

    .slide-carousel {

      .slide {
        width: 40%;
        margin-right: 5%;

        .slide-container {
          //width: 96rem;
          //margin: 0 auto;
        }

        .heading {
          //float: left;
          //width: 40%;
        }

        img {
          //float: right;
          //width: 60%;
        }

        .body {
          //clear: left;
          //width: 40%;
        }
      }
    }
    .owl-carousel .owl-stage  {
      //zoom: 0.9325;
    }
  }
}
