nav {

	ul {

		li {
			@include position(absolute, 0 0 0 50%);
			width: 35%;

			&:nth-child(1) {
				transform: translate3d(4%,226px,0);
			}
			&:nth-child(2) {
				transform: translate3d(4%,272px,0);
			}
			&:nth-child(3) {
				transform: translate3d(4%,318px,0);
			}
			&:nth-child(4) {
				transform: translate3d(4%,398px,0);
			}
			&:nth-child(5) {
				transform: translate3d(4%,444px,0);
			}
			&:nth-child(6) {
				transform: translate3d(4%,490px,0);
			}
		}
	}
}
