nav {

	ul {

		li {
			@include position(absolute, 0px 0 0 50%);
			width: 35%;

			&:nth-child(1) {
				transform: translate3d(6%,226px,0);
			}
			&:nth-child(2) {
				transform: translate3d(6%,272px,0);
			}
			&:nth-child(3) {
				transform: translate3d(6%,318px,0);
			}
			&:nth-child(4) {
				transform: translate3d(6%,398px,0);
			}
			&:nth-child(5) {
				transform: translate3d(6%,444px,0);
			}
			&:nth-child(6) {
				transform: translate3d(6%,490px,0);
			}
		}
	}
}
