nav {

	ul {

		li {
			@include position(absolute, 0px 0 0 50%);
			width: 320px;

			&:nth-child(1) {
				transform: translate3d(-100%,260px,0);
			}
			&:nth-child(2) {
				transform: translate3d(-100%,306px,0);
			}
			&:nth-child(3) {
				transform: translate3d(-100%,352px,0);
			}
			&:nth-child(4) {
				transform: translate3d(-100%,398px,0);
			}
			&:nth-child(5) {
				transform: translate3d(-100%,444px,0);
			}
			&:nth-child(6) {
				transform: translate3d(-100%,490px,0);
			}
		}
	}
}
