@keyframes carousel-first-use {
  0% {
    transform: translate3d(0,0,0);
  }
  25% {
    transform: translate3d(0,0,0);
  }
  80% {
    transform: translate3d(-100px,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

@keyframes carousel-nav-first-use {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  35% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  95% {
    opacity: 1;
  }
}
