@keyframes carousel-first-use {
  0% {
    transform: translate3d(0,0,0);
  }
  30% {
    transform: translate3d(0,0,0);
  }
  80% {
    transform: translate3d(-100px,0,0);
  }
  100% {
    transform: translate3d(0,0,0);
  }
}

@keyframes carousel-nav-first-use {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
